{%extends 'home.html'%} {%load static%} {%block content%}
<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{%static 'images/icon.svg'%}" alt="icon" />
      </a>
      <h3>Account Login</h3>
      <p>Hello Developer, Welcome Back!</p>
    </div>

    <form enctype="multipart/form-data" method="POST">
      {%csrf_token%}
      <!-- Input:username -->
      <div class="form__field">
        <label for="formInput#text">Username: </label>
        <input
          class="input input--text"
          id="formInput#text"
          type="text"
          name="username"
          placeholder="Enter your username..."
        />
      </div>
      <!-- Input:Password -->
      <div class="form__field">
        <label for="formInput">Signature: </label>
        <input
          class="input"
          id="signature"
          type="file"
          accept="image"
          name="signature"
        />
      </div>

      <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
    </form>
    {%endblock content%}
  </div>
</div>
